<a href="https://colab.research.google.com/github/roaringbunnygirl/Data-Visualization/blob/main/cs217_hw1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### [double-click to type in] Input your name, your netid here:

---

Instructions:

1. First save this notebook to your drive, then work on it.
2. In order to connect to the database, you need to upload the database file to your current working directory.
3. DO NOT change the setup coding blocks. You should only put queries in the specified locations.
4. After you are done, save and download your notebook as ipynb file, and submit it to canvas. Make sure you keep the output in the notebook.

In [ ]:
#### Execute this coding block only! DO NOT change anything!!

import csv, sqlite3
import pandas as pd
from sqlite3 import Error

def create_connection(db_file):
  conn = None
  try:
      conn = sqlite3.connect(db_file)
  except Error as e:
      print("create_connection error:")
      print(e)
  return conn

def execute_query(conn, query):
  return pd.read_sql_query(query,conn)

def display_result(r):
  display(r.style.hide(axis='index'))

conn = create_connection('SalesOrders.db')

In [ ]:
####TODO 1: put your sql query in the following three single quotes
query1='''

'''
r = execute_query(conn,query1)
display_result(r)

In [ ]:
#leave this cell blank

In [ ]:
####TODO 2: put your sql query in the following three single quotes
query2='''

'''
r = execute_query(conn,query2)
display_result(r)

In [ ]:
#leave this cell blank

In [ ]:
####TODO 3: put your sql query in the following three single quotes
query3='''

'''
r = execute_query(conn,query3)
display_result(r)

In [ ]:
#leave this cell blank

In [ ]:
####TODO 4: put your sql query in the following three single quotes
query4='''

'''
r = execute_query(conn,query4)
display_result(r)

In [ ]:
#leave this cell blank

In [ ]:
####TODO 5: put your sql query in the following three single quotes
query5='''

'''
r = execute_query(conn,query5)
display_result(r)

In [ ]:
#leave this cell blank

In [ ]:
####TODO 6: put your sql query in the following three single quotes
query6='''

'''
r = execute_query(conn,query6)
display_result(r)

In [ ]:
#leave this cell blank

In [ ]:
####TODO 7: put your sql query in the following three single quotes
query7='''

'''
r = execute_query(conn,query7)
display_result(r)

In [ ]:
#leave this cell blank

In [ ]:
####TODO 8: put your sql query in the following three single quotes
query8='''

'''
r = execute_query(conn,query8)
display_result(r)

In [ ]:
#leave this cell blank

In [ ]:
####TODO 9: put your sql query in the following three single quotes
query9='''

'''
r = execute_query(conn,query9)
display_result(r)

In [ ]:
#leave this cell blank

In [ ]:
####TODO 10: put your sql query in the following three single quotes
query10='''

'''
r = execute_query(conn,query10)
display_result(r)

In [ ]:
#leave this cell blank

In [ ]:
#### Execute this block after you are done!!
conn.close()